<?xml version="1.0" encoding="utf-8"?>
<!--
//
//  Application.xml - XML definition for the initial Mocha `Application` system class instance
//
//  Author:
//       Michael Becker <alcexhim@gmail.com>
//
//  Copyright (c) 2020 Mike Becker's Software
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<mocha xmlns="urn:net.alcetech.schemas.Mocha">
	<libraries>
		<library id="{2826E41F-763A-413F-B239-3D9698AB629F}">
			<instances>
				<!-- Class -->
				<instance id="&IDC_Module;" superClassId="&IDC_Class;" index="1">
					<translations>
						<!-- Class.has title Translation -->
						<translation relationshipInstanceId="&IDR_Class__has_title__Translation;">
							<translationValues>
								<translationValue languageInstanceId="&IDI_Language_English;" value="Module" />
							</translationValues>
						</translation>
						<!-- Class.has description Translation -->
						<translation relationshipInstanceId="{3B29DC78-B30A-46AA-9B20-2573239CECD9}">
							<translationValues>
								<translationValue languageInstanceId="&IDI_Language_English;" value="" />
							</translationValues>
						</translation>
					</translations>
					<relationships>
						<relationship relationshipInstanceId="&IDR_Class__instance_labeled_by__String;">
							<!-- Class `Module`.instance labeled by String -->
							<targetInstances>
								<instanceReference instanceId="{81a6826d-15e3-4531-8a4a-7a46599c14ee}" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				
				
				<!-- unused guid: {572b1778-4a81-4426-95f9-ce3ab5051dbb} -->
				
				<instance id="{81a6826d-15e3-4531-8a4a-7a46599c14ee}" classInstanceId="&IDC_String;">
					<!-- String: Module.instance labeled by String -->
					<relationships>
						<relationship relationshipInstanceId="&IDR_String__has__String_Component;">
							<targetInstances>
								<instanceReference instanceId="{0ab6e7b5-99d3-4261-aaba-bbbb0eeb5bad}" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				
				<instance id="{0ab6e7b5-99d3-4261-aaba-bbbb0eeb5bad}" classInstanceId="&IDC_ExtractSingleInstanceStringComponent;">
					<relationships>
						<relationship relationshipInstanceId="{5E499753-F50F-4A9E-BF53-DC013820499C}">
							<!-- Extract Single Instance String Component.has Relationship -->
							<targetInstances>
								<instanceReference instanceId="{b530a988-367c-4a63-b4a7-9ecda334d237}" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				
				<instance id="{b530a988-367c-4a63-b4a7-9ecda334d237}" classInstanceId="&IDC_Relationship;">
					<!-- Relationship: Module.has title Translation -->
					<attributeValues>
						<attributeValue attributeInstanceId="{71106B12-1934-4834-B0F6-D894637BAEED}" value="has title" />
					</attributeValues>
					<relationships>
						<relationship relationshipInstanceId="{7FB5D234-042E-45CB-B11D-AD72F8D45BD3}">
							<targetInstances>
								<instanceReference instanceId="&IDC_Module;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="{F220F1C2-0499-4E87-A32E-BDBF80C1F8A4}">
							<targetInstances>
								<instanceReference instanceId="&IDC_Translation;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="&IDR_Relationship__has_sibling__Relationship;">
							<targetInstances>
								<instanceReference instanceId="{94b6f661-0c4f-408e-8eb7-875f77e72797}" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				<instance id="{94b6f661-0c4f-408e-8eb7-875f77e72797}" classInstanceId="&IDC_Relationship;">
					<!-- Relationship: Translation.title for Module -->
					<attributeValues>
						<attributeValue attributeInstanceId="{71106B12-1934-4834-B0F6-D894637BAEED}" value="title for" />
					</attributeValues>
					<relationships>
						<relationship relationshipInstanceId="{7FB5D234-042E-45CB-B11D-AD72F8D45BD3}">
							<targetInstances>
								<instanceReference instanceId="&IDC_Translation;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="{F220F1C2-0499-4E87-A32E-BDBF80C1F8A4}">
							<targetInstances>
								<instanceReference instanceId="&IDC_Module;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="&IDR_Relationship__has_sibling__Relationship;">
							<targetInstances>
								<instanceReference instanceId="{DF93EFB0-8B5E-49E7-8BC0-553F9E7602F9}" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				
				<instance id="&IDR_Module__has__Instance;" classInstanceId="&IDC_Relationship;">
					<!-- Module.has Class -->
					<attributeValues>
						<attributeValue attributeInstanceId="{71106B12-1934-4834-B0F6-D894637BAEED}" value="has" />
					</attributeValues>
					<relationships>
						<relationship relationshipInstanceId="{7FB5D234-042E-45CB-B11D-AD72F8D45BD3}">
							<!-- .has source Class `Module` -->
							<targetInstances>
								<instanceReference instanceId="&IDC_Module;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="{F220F1C2-0499-4E87-A32E-BDBF80C1F8A4}">
							<!-- .has destination Class `Instance` -->
							<targetInstances>
								<instanceReference instanceId="&IDC_Instance;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="&IDR_Relationship__has_sibling__Relationship;">
							<!-- .has sibling Relationship -->
							<targetInstances>
								<instanceReference instanceId="&IDR_Instance__for__Module;" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				<instance id="&IDR_Instance__for__Module;" classInstanceId="&IDC_Relationship;">
					<!-- Class.for Module  -->
					<attributeValues>
						<attributeValue attributeInstanceId="{71106B12-1934-4834-B0F6-D894637BAEED}" value="for" />
					</attributeValues>
					<relationships>
						<relationship relationshipInstanceId="{7FB5D234-042E-45CB-B11D-AD72F8D45BD3}">
							<!-- .has source Class `Class` -->
							<targetInstances>
								<instanceReference instanceId="&IDC_Instance;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="{F220F1C2-0499-4E87-A32E-BDBF80C1F8A4}">
							<!-- .has destination Class `Module` -->
							<targetInstances>
								<instanceReference instanceId="&IDC_Module;" />
							</targetInstances>
						</relationship>
						<relationship relationshipInstanceId="&IDR_Relationship__has_sibling__Relationship;">
							<!-- .has sibling Relationship -->
							<targetInstances>
								<instanceReference instanceId="&IDR_Module__has__Instance;" />
							</targetInstances>
						</relationship>
					</relationships>
				</instance>
				
				<instance id="&IDI_Module_MochaBaseSystem;" classInstanceId="&IDC_Module;">
					<translations>
						<translation relationshipInstanceId="{b530a988-367c-4a63-b4a7-9ecda334d237}">
							<translationValues>
								<translationValue languageInstanceId="&IDI_Language_English;" value="Mocha Base System" />
							</translationValues>
						</translation>
					</translations>
				</instance>
				
			</instances>
		</library>
	</libraries>
</mocha>
