<?xml version="1.0"?>
<!--
Web.config file for Mocha.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
	<configSections>
		<section name="routing" type="MBS.Web.ConfigurationSections.Routing.RoutingConfigurationSection, MBS.Web" />
		<section name="oms" type="Mocha.Web.Configuration.ConfigurationSections.OMS.OMSConfigurationSection, Mocha.Web.Configuration" />
	</configSections>
	<appSettings>
		<add key="DefaultHomePageUrl" value="~/d/home.htmld" />
		<add key="Authentication.LoginURL" value="~/d/login.htmld" />
		<!-- the duration of the login token, in minutes -->
		<add key="Authentication.LoginToken.Duration" value="30" />
		<add key="Tenant.Default.Name" value="default" />
	</appSettings>
	<routing>
		<routes>
			<add routeName="logoimage" routeUrl="images/header" virtualPath="~/Images/MainIcon.svg" />
			<add routeName="login" routeUrl="{tenant}/account/login" virtualPath="~/Login.aspx" />
			<add routeName="logout" routeUrl="{tenant}/account/logout" virtualPath="~/Logout.aspx" />
			<add routeName="login_wd" routeUrl="{tenant}/d/login.htmld" virtualPath="~/Login.aspx" />
			<add routeName="home_wd" routeUrl="{tenant}/d/home.htmld" virtualPath="~/Instance.aspx" />
			<add routeName="instance_wd" routeUrl="{tenant}/d/inst/{ClassID}${InstanceID}.htmld" virtualPath="~/Instance.aspx" />
			<add routeName="task_wd" routeUrl="{tenant}/d/inst/{ClassID}${InstanceID}/{TaskClassID}${TaskInstanceID}.htmld" virtualPath="~/Instance.aspx" />
			<add routeName="default" routeUrl="{tenant}/" virtualPath="~/Default.aspx" />
		</routes>
	</routing>
	<oms>
		<server hostName="127.0.0.1" portNumber="28015" />
	</oms>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies />
		</compilation>
		<httpHandlers>
			<add verb="*" path="Themes/*/Theme.css" validate="true" type="MBS.Web.Themes.ThemesHandler, MBS.Web.Themes" />
			<add verb="*" path="Themes/*/Theme.js" validate="true" type="MBS.Web.Themes.ThemesHandler, MBS.Web.Themes" />
			<add verb="*" path="Themes/*/Fonts/*/*" validate="true" type="MBS.Web.Themes.ThemesHandler, MBS.Web.Themes" />
			<add verb="*" path="StyleSheets/*.css" validate="true" type="MBS.Web.Plugins.Less.LessHandler, MBS.Web.Plugins.Less" />
		</httpHandlers>
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>