<?xml version="1.0" encoding="utf-8"?>
<!--
//
//  VehicleType.xml - XML definition for the `Vehicle Type` Enumeration;
//
//  Author:
//       Michael Becker <alcexhim@gmail.com>
//
//  Copyright (c) 2015-2022 Mike Becker's Software
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<mocha xmlns="urn:net.alcetech.schemas.Mocha">
	<libraries>
		<library id="{af0e1c56-8e93-4fe6-8d44-142e3b95b016}" defaultObjectSourceId="{062B57B5-D728-4DF8-903A-AD79D843B5CA}">
			<instances>
				<instance id="{3d11a1a9-0bc4-45a4-9a2e-f31b9d101c23}" classInstanceId="&IDC_Module;">
					<translations>
						<translation relationshipInstanceId="{b530a988-367c-4a63-b4a7-9ecda334d237}">
							<translationValues>
								<translationValue languageInstanceId="&IDI_Language_English;" value="Personal Information" />
							</translationValues>
						</translation>
					</translations>
				</instance>
			</instances>
		</library>
	</libraries>
</mocha>
